@model IEnumerable<RMS.Web.Models.Menu>

@{
    ViewData["Title"] = "Menu";
}

<h1 style="text-decoration-style:wavy">&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;<b>MENU</b>&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    <h5>Please fill your details for further processing by clicking button&dArr;</h5>&curren;
    <a class="btn btn-warning" style="margin-left:500px"
                                   asp-area="Demos" asp-controller="Customers" asp-action="Index">FillCustomerDetails</a>
</p>
<table class="table" style="background-color:chartreuse">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.MenuId">Edit</a> |*@
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.MenuId">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.MenuId">Delete</a>*@
                <a class="btn btn-danger"
                                   asp-area="Demos" asp-controller="ItemCategories" asp-action="Index">ViewItemCategories</a>
            </td>
        </tr>
}
    </tbody>
</table>
